@import "~materialize-css/dist/css/materialize.min.css";

body {
    padding: 0;
    margin: 0;
}
.m0 {
    margin: 0;
}
.logo img{
    width: 65px;
    height: 60px;

}
.logo2 img{
    width: 100px;
    height: 100px;

}
.t{
    height: 6em;
}

.header{
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 96px;
}
.basket {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 70;
    right: 0;
    background-color: #EE6E73;
}

.basket span {
    font-size: 2em;
}